<ion-modal-view>
    <ion-header-bar class="bar-light bar bar-header taxi-bar" align-title="center">
        <div>
            <button class="button button-icon " ng-click=" closeModal()"><span class="icon ion-ios-close-empty"></span></button>
            <div class="title">KEVIN MAKUNDI</div>
            <button class="button button-clear button-positive" ng-click="placeRequest()">Request</button>
        </div>
    </ion-header-bar>
    <!-- <ion-nav-header></ion-nav-header> -->
    <ion-content>
        <div class="list card">
            <div class="item item-image">
                <img src="images/ben.png">
            </div>
        </div>
        <div class="prof">
            <ul class="list  list-item-no-border">
                <li class="item">
                    KEVIN
                </li>
                <li class="item date">
                    JOINED MAY 2016!!
                </li>
            </ul>
        </div>
        <p>
            This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
        </p>
        <p>
            <a href="#" class="subdued">1 Like</a>
            <a href="#" class="subdued">5 Comments</a>
        </p>
        <div class="list">
            <div class="item item-button-right">
                Call KEVIN : 0714281649
                <button class="button button-positive">
                    <i class="icon ion-ios-telephone"></i>
                </button>
            </div>
            <!-- class="list  list-item-no-border" -->
            <ul>
                <li class="item">
                    AGE : 25;
                </li>
                <li class="item">
                    CAR MODEL : TOYOTA;
                </li>
                <li class="item">
                    CAR COLOR : WHITE;
                </li>
                <li class="item">
                    PLATE NO : T123ABC;
                </li>
            </ul>
        </div>
    </ion-content>
</ion-modal-view>