<ion-view view-title="More">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left" ui-sref="app.profile">
                <i class="icon ion-person"></i> Profile
            </a>
            <a class="item item-icon-left " ui-sref="app.aboutus">
                <i class="icon ion-location"></i> About Us
            </a>
        </div>
        <ion-list has-subheader="true">
            <!-- signout -->
            <ion-item class="item-borderless item-icon-right item-setting" data-signout>
                Signout
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <!-- end signout -->
        </ion-list>
    </ion-content>
</ion-view>
<!-- ui-sref="app.profile" -->
