<ion-view title="Forgot" class="ion-blue taxi-background">
    <ion-nav-bar class="bar-light taxi-bar" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content scroll="false" class="forgot">
        <ion-list class="list-item-no-border">
            <ion-item class="item-input item-floating-label input">
                <span class="input-label">Email</span>
                <input type="password" placeholder="Email" class="input-bordered">
            </ion-item>
            <ion-item class="item-button mgn-t10">
                <button class="button button-energized button-block" ng-click="signin()">
                    Submit
                </button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
