<!-- app tabs -->
<ion-tabs class="tabs-light taxi-tabs tabs-icon-top tabs-background-light tabs-color-dark">
    <!-- rides tab -->
    <ion-tab title="Rides" icon-off="ion-android-car" icon-on="ion-android-car" ui-sref="app.driverRides">
        <ion-nav-view name="driverRides"></ion-nav-view>
    </ion-tab>
    <!-- end restaurant tab -->
    <!-- requests tab -->
    <ion-tab title="Requests" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" ui-sref="app.request">
        <ion-nav-view name="request"></ion-nav-view>
    </ion-tab>
    <!-- end requests tab -->
    <!-- more tab -->
    <ion-tab title="More" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" ui-sref="app.settingsDriver">
        <ion-nav-view name="settingsDriver"></ion-nav-view>
    </ion-tab>
    <!-- end more tab -->
</ion-tabs>
<!-- end app tabs -->
