<!-- app tabs -->
<ion-tabs class="tabs-light taxi-tabs tabs-icon-top tabs-background-light tabs-color-dark">
    <!-- rides tab -->
    <ion-tab title="Rides" icon-off="ion-android-car" icon-on="ion-android-car" ui-sref="app.rides">
        <ion-nav-view name="rides"></ion-nav-view>
    </ion-tab>
    <!-- drivers tab -->
    <ion-tab title="Drivers" icon-off="ion-ios-people-outline" icon-on="ion-ios-people-outline" ui-sref="app.drivers">
        <ion-nav-view name="drivers"></ion-nav-view>
    </ion-tab>
    <!-- end restaurant tab -->
    <!-- search tab -->
    <ion-tab title="Search" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" ui-sref="app.search">
        <ion-nav-view name="search"></ion-nav-view>
    </ion-tab>
    <!-- end search tab -->
    <!-- more tab -->
    <ion-tab title="More" icon-off="ion-ios-more-outline" icon-on="ion-ios-more" ui-sref="app.settings">
        <ion-nav-view name="settings"></ion-nav-view>
    </ion-tab>
    <!-- end more tab -->
</ion-tabs>
<!-- end app tabs -->
